.body {
    position: relative;
}

.Header_wrapper {}

.Header-middle-area {
    padding: 15px 0;
    border: 1px solid #f0f0f0;
}

.Header_logo {}

.Header_contact_and_search {
    padding: 24px 0;
}

.Header-phone-icon {
    font-size: 1.8rem;
    font-weight: 600;
}

.Header-phone-content-wrap {}

.Header-phone-text {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 400;
}

.Header-phone-content-wrap .Header-phone-link {
    color: var(--hightlight-text);
    font-size: 1.3rem;
}

/* search input */
.Header-search {
    position: relative;
}

.Header-search-input {
    min-height: var(--search-input-height);
    min-width: 500px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 50px;
    color: var(--text-color);
}

.Header-search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    min-height: var(--search-input-height);
    padding: 0px 15px;
}

.Header-search-icon {
    font-size: 2.6rem;
    color: var(--text-color);
}

.Header-search-btn:hover .Header-search-icon {
    color: #E55472;
}

/* Header_choices */
.Header-cart {
    cursor: pointer;
}

.Header-cart-info-wrapper {
    padding-left: 12px;
}

.Header-cart-icon-wrapper {
    position: relative;
}

.Header-cart-icon {
    font-size: 2.6rem;
    color: var(--black);
}

.Header-cart-number {
    position: absolute;
    font-size: 1rem;
    font-weight: 400;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: var(--hightlight-text);
    color: var(--white);
    text-align: center;
    top: -6px;
    right: -8px;
    border-radius: 50%;
}

.Header-cart-text,
.Header-user-text {
    font-size: 1.3rem;
    color: var(--black);
}

.Header-user {
    position: relative;
    cursor: pointer;
    width: 90px;
}

.Header-user-list {
    position: absolute;
    z-index: 10;
    top: calc(100% + 6px);
    left: -30px;
    background-color: #e9e9e9;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    border-top: 2px solid var(--hightlight-text);
    display: none;
}

.Header-user-item {
    padding: 10px 20px;
    font-size: 1.3rem;
}

.Header-user-list li:hover>a {
    color: var(--hightlight-text);
}

.Header-user:hover .Header-user-list {
    display: block;
}

.Header-user-list::before {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    right: 0;
    left: 0;
    top: -14px;
}

.Header-user-icon {
    position: absolute;
    left: -30px;
    top: -5px;
    font-size: 2.4rem;
    color: var(--black);
}

.Header-cart-money {
    color: var(--hightlight-text);
}

.Header-cart-text {}

.Header-user-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Nav bar */
.Header-nav-item-link {
    font-size: 1.6rem;
    padding: 22px 10px;
}

.Header-nav-list-wrapper li:hover>a {
    color: var(--hightlight-text);
}

/* responsive for smaller screen */
.Header-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity ease 0.5s;
}

.overlay-active {
    visibility: visible;
    opacity: 1;
}

/* menu for mobile */
.Header-menu-small-screen {
    position: fixed;
    width: 400px;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 50px 40px;
    overflow: hidden;
    background-color: var(--white);
    z-index: 9999;
    transition: all ease .5s;
    transform: translateX(-100%);
}

.Header-menu-open {
    transform: translateX(0);
}

.Header-menu-can-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 20px;
    height: 100%;
}

.Header-menu-icon {
    font-size: 3rem;
}

.Header-menu-button-close {
    font-size: 2.4rem;
    font-weight: 400;
}

.Header-menu-header {
    border-bottom: 1px solid var(--border-color);
}

.Header-menu-search {
    position: relative;
}

.Header-menu-search-input {
    width: 100%;
    height: 50px;
    padding: 0 40px 0 20px;
    background-color: rgba(0, 0, 0, 0.05);
}

.Header-menu-search-input:focus {
    border: 1px solid var(--hightlight-text);
}

.Header-menu-search-icon {
    font-size: 3rem;
}

.Header-menu-search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.Header-menu-menu-item {
    margin-top: 16px;
}

.Header-menu-menu-item-link {
    display: block;
    padding: 8px 24px 8px 0;
}

.Header-menu-others-feature {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.Header-menu-others-feature-item {
    margin-top: 16px;
}

.Header-menu-others-feature-icon-wrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid var(--fainter-border-color);
    text-align: center;
    line-height: 46px;
    margin-right: 10px;
}

.Header-menu-others-feature-icon-wrapper sup {
    font-size: 1rem;
}

.Header-menu-others-feature-list li:hover > a {
    color: var(--hightlight-text);
}

.Header-menu-menu-list li:hover > a {
    color: var(--hightlight-text);
}

.Header-menu-social-media-icon-wrapper {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--fainter-border-color);
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}

.Header-menu-social-media-icon {
    font-size: 2rem
}

.Header-menu-social-media-list li:hover > a {
    background-color: var(--hightlight-text);
}

.Header-cart-side-bar {
    position: fixed;
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px 10px 20px 30px;
    overflow: hidden;
    background-color: var(--white);
    z-index: 9999;
    transition: all ease .5s;
    transform: translateX(100%);
}

.Header-cart-side-bar-open {
    transform: translateX(0);
}

.Header-cart-side-bar-can-scroll {
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.Header-cart-side-bar-header {
    border-bottom: 1px solid var(--fainter-border-color);
}

.Header-cart-side-bar-button {
    padding: 0 15px;
    font-size: 3rem;
}

.Header-cart-side-bar-cart {
}

.Header-cart-side-bar-cart-item-img-wrapper {
    position: relative;
}

.Header-cart-side-bar-cart-item-delete-button {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: var(--box-shadow-2);

}

.Header-cart-side-bar-cart-item-delete-button:hover {
    background-color: var(--hightlight-text);
}

.Header-cart-side-bar-cart-item-delete-icon {
    font-size: 1.2rem;
}

.Header-cart-side-bar-cart-item {
    padding: 20px 0 0 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--fainter-border-color);
}

.Header-cart-side-bar-cart-item-img {
    width: 80px;
    height: 104px;
}

.Header-cart-side-bar-cart-item-info-name {
    font-weight: 600;
}

.Header-cart-side-bar-cart-item-info-amount-price-wrapper {
    font-size: 1.2rem;
}

.Header-cart-side-bar-cart-list li:hover > a {
    color: var(--hightlight-text);
}

.Header-cart-side-bar-footer-sub-tootal {
    padding: 15px 0;
    border-top: 1px solid var(--fainter-border-color);
    border-bottom: 1px solid var(--fainter-border-color);
}

.Header-cart-side-bar-footer-sub-total-money {
    color: var(--hightlight-text);
}

.Header-cart-side-bar-footer-button-wrapper {
    padding: 25px 0 15px 0;
}

.Header-cart-side-bar-footer-button-view-cart {
    position: relative;
    padding: 10px 20px 10px 20px;
    margin: 0 15px 5px 0;
    font-size: 1.3rem;
    text-align: center;
    color: var(--white);
    background-color: var(--hightlight-text);
    transition: all ease 0.3s;
    border: 1px solid transparent;
    z-index: 1;
}

.Header-cart-side-bar-footer-button-view-cart::after {
    content: '';
    position: absolute;
    transition: all ease 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white);
    z-index: -1;
}

.Header-cart-side-bar-footer-button-view-cart:hover {
    color: var(--black);
    background-color: var(--black);
    border-color: var(--black);
}

.Header-cart-side-bar-footer-button-view-cart:hover::after {
    width: 100%;
}

.Header-cart-side-bar-footer-button-checkout {
    position: relative;
    padding: 10px 20px 10px 20px;
    margin: 0 15px 5px 0;
    font-size: 1.3rem;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    transition: all ease 0.3s;
    border: 1px solid transparent;
    z-index: 1;
}

.Header-cart-side-bar-footer-button-checkout::after {
    content: '';
    position: absolute;
    transition: all ease 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background: var(--white);
    z-index: -1;
}

.Header-cart-side-bar-footer-button-checkout:hover {
    color: var(--black);
    border-color: var(--hightlight-text);
    background-color: var(--hightlight-text);
}

.Header-cart-side-bar-footer-button-checkout:hover::after {
    width: 100%;
}

.Header-scroll-to-top {
    position: fixed;
    bottom: 5%;
    right: 3%;
    display: none;
    z-index: 1000000;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-2);
    text-align: center;
    line-height: 40px;
    transform: rotate(45deg);
    transition: all ease .3s;
    cursor: pointer;
}

.Header-scroll-to-top:hover {
    background-color: var(--hightlight-text);
}

.Header-scroll-to-top:hover .Header-scroll-to-top-icon {
    color: var(--white);
}

.Header-scroll-to-top-icon {
    font-size: 2rem;
    line-height: 40px !important;
    font-weight: 700 !important; 
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    color: var(--black);
}
